{% load static %}

<header class="pb-3">
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins&display=swap');
</style>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand p-0 me-0 me-lg-2" href="{% url 'home' %}">
       <img
        src="{% static 'images/shoe.png' %}"
        alt="Home"
        width="40"
        height="32"
      />
      <title>Shoelandia</title>
    </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link text-muted h4" href="{% url 'store' %}" style="font-family: 'Poppins', sans-serif;"
            >Store <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item"></li>
      </ul>
      <form class="form-inline my-2 my-lg-0 mr-2" action="{% url 'store' %}" >
        <input
          class="form-control mr-sm-2"
          type="search"
          name="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >
          Search
        </button>
      </form>
      <div class="form-inline my-2 my-lg-0">
        <a
          type="button"
          role="button"
          href="{% url 'basket_summary' %}"
          class="btn btn-outline-primary border-0 text-muted basket-btn"
        >
          <div class="d-flex-inline">
            {% with total_qty=basket|length %}
            <div id="basket-qty" class="basket-qty">
              {% if total_qty > 0 %} {{ total_qty }} {% else %} 0 {% endif %}
            </div>
            {% endwith %}
            <div></div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-basket"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"
              />
            </svg>
          </div>
          <span class="fs15 fw500">Basket</span>
        </a>
        {% if request.user.is_authenticated %}
        <div class="btn-group dropdown d-flex">
          <button
            type="button"
            class="btn dropdown-toggle text-muted"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-person-circle d-flex-inline"
              viewBox="0 0 16 16"
            >
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
              <path
                fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
              />
            </svg>
            <span class="fs15 fw500"> Account</span>
          </button>
          <div class="container-fluid">

            <div class="dropdown-menu">

                  <button class="dropdown-item" type="button">
                  <a class="nav-link p-0 text-muted " href="{% url 'dashboard' %}">Dashboard </a>
                </button>
                <button class="dropdown-item" type="button">
                  <a class="d-flex text-muted nav-link p-0 btn basket-btn" href="{% url 'logout' %}">Logout 
                    <div class="pl-3">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="22"
                        height="22"
                        fill="currentColor"
                        class="bi bi-door-closed "
                        viewBox="0 0 16 16">
                        <path
                          d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"
                        />
                        <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z" />
                      </svg>
                    </div>
                  </a>
                </button>
                       
          </div>
          </div>
          
        </div>
          
        </a>
        {% else %}
        <a
          type="button"
          role="button"
          href="{% url  'login' %}"
          class="btn btn-outline-primary text-muted border-0 basket-btn"
        >
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              height="22"
              fill="currentColor"
              class="bi bi-door-closed"
              viewBox="0 0 16 16"
            >
              <path
                d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"
              />
              <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z" />
            </svg>
          </div>
          <span class="fs15 fw500">Login</span>
        </a>

        {% endif %}
        
      </div>
    </div>
  </nav>
</header>
