{% extends "store/main.html" %} {% load static %} {% block content %}

<div class="container-fluid">
  <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-5">
        <div class="container pb-5">
          <!-- inthihs -->

          <img
            class="rounded"
            data-src="holder.js/100px260/"
            alt="100%x260"
            style="max-width: 40rem; min-height: 40rem; width: auto"
            src="{% if image is None %} {% static 'images/placeholder-500x500.png' %}{% else %}{{image.image.url}}{% endif %}"
            data-holder-rendered="true"
          />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="">
          <div class="card-body p-0">
            <h1 class="font-weight-normal">{{product.title}}</h1>
            <h5 class="font-weight-light">&#x20b1;{{product.regular_price}}</h5>

            <p>{{product.description}}</p>
          </div>
        </div>
        <hr />
        <div>
          <h5 class="font-weight-light">Variants available</h5>
          <div
            class="btn-group btn-group-toggle"
            data-toggle="buttons"
            id="mybuttons"
          >
            {% for color in colors %}
            <!-- this is a comment-->
            <!-- {{variant}} {{color.productcolor__color}} -->
            <label
              class="btn btn-outline-primary"
              id="target-{{color.sub_name}}"
              data-attribute="color"
              value="{{color.productcolor__color}}"
              {% if variant == color.productcolor__color %}
              active
              {% endif %}
            >
              <input type="radio" name="color variants" {% if variant == color.productcolor__color %}
              checked
              {% endif %} />

              {{color.sub_name}}
            </label>
            {% endfor %}
          </div>

          <br />
          <br />
          <h5 class="font-weight-light">Sizes available</h5>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            {% if sizes %} {% for size in sizes|slice:"0:5" %}
            <label
              class="btn btn-outline-secondary"
              id="size-target"
              value="{{size.size}}"
            >
              <input
                type="radio"
                name="options"
                id="size-target"
                value="{{size.size}}"
                autocomplete="off"
              />
              {{size.size}}
            </label>

            <br />
            {% endfor %} {% else %} No sizes available {% endif %}
          </div>
          <hr />

          <div class="d-inline-flex pb-3">
            <button
              type="button"
              id="add-button"
              value="{{product.id}}"
              class="btn btn-success btn-lg"
            >
              Add to basket
            </button>
            <div class="ml-auto p-2">
              <label for="select" class="font-weight-normal">Qty</label>
              <select id="select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </div>
          </div>
          <hr />
        </div>


      </div>
    </div>
</div>
<div class="container-fluid pb-5">
  <hr />
  <h1 class="display-4">Related Items</h1>
  <div class="">
    {% for related in related_items  %}
        <a href="{% url 'product_detail' related.subproduct__product__slug %}">
            <img
            class="rounded m-2 "
            data-src="holder.js/100px260/"
            alt="100%x260"
            style="max-width: 20rem; min-height: 20rem; width: auto"
            src="{% if image is None %}{% static 'images/placeholder-500x500.png' %}{% else %}https://shoelandia.s3.amazonaws.com/media/{{related.subproduct__product_image__image}}{% endif %}"
            data-holder-rendered="true"/>
            
        </a>
        {% endfor %}
        
</div>
        <script>
          var d = {};
          let textBoxes = document.querySelectorAll("[id^=target]");
          let e = 0;
          let f = textBoxes.length;
          let picked = "";
          for (let i in textBoxes) {
            if (e < f) {
              if (textBoxes[i].classList.contains("selected"))
                d[textBoxes[i].getAttribute("data-attribute")] =
                  textBoxes[i].getAttribute("value");
            } else {
              break;
            }
            e++;
            console.log(d);
          }
          let querystring = "";
          document.getElementById("mybuttons").addEventListener(
            "click",
            function (e) {
              let value = e.target.getAttribute("value");
              d[e.target.getAttribute("data-attribute")] =
                e.target.getAttribute("value");
              picked = value;

              querystring = buildUrlWithParams(d);
              let url = window.location.href.split("?")[0];
              window.location.href = url + "?" + querystring;
            },
            false
          );

          function buildUrlWithParams(data) {
            var searchparams = [];
            for (var d in data) {
              searchparams.push(d + "=" + data[d]);
              console.log(d);
              return searchparams.join("&");
            }
          }
          console.log(d);
          $(document).on("click", "#add-button", function (e) {
            e.preventDefault();
            $.ajax({
              type: "POST",
              url: '{% url "basket_add" %}',
              data: {
                product_id: $("#add-button").val(),
                product_qty: $("#select option:selected").text(),
                size: document.querySelector('input[name="options"]:checked')
                  .value,
                variant: "{{variant}}",
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: "POST",
              },
              success: function (json) {
                console.log(json);
                document.getElementById("basket-qty").innerHTML = json.qty;
              },
              error: function (xhr, errmsg, err) {},
            });
          });
        </script>
{% endblock content %}
