{% extends 'store/main.html' %} {% load static %} {% block content %}

<!-- this is a comment -->
{% block title %}
<title>Store</title>
{% endblock title %}

<div class="container-fluid d-flex justify-content-center">
  <div class="col d-flex">
    <div class="col-lg-2">
      <h4>Filter</h4>
      <hr />
    </div>
    <div class="row">
      {% for product in products %}

      <div class="col">
        <div class="container-fluid p-1">
          <img
            src="{{product.imageURL}}"
            class="rounded mx-auto d-block border"
            style="
              max-width: 20rem;
              height: 20rem;
              min-height: fit-content;
              min-width: 100%;
            "
            alt="..."
          />
          <div class="card-img-overlay">
            <a
              href="{% url 'product_detail' product.slug %}"
              class="img-link-overlay"
            ></a>
          </div>
          <div class="card-body border container-fluid p-3">
            <h5 class="card-title">
              {{product.brand_name}} {{product.product_name}}
              <hr />
              &#x20b1;{{product.price|floatformat:2}}
            </h5>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
    <div class="col-lg-2 ml-auto p-2"></div>
  </div>
</div>

<script>
  $(document).on("click", "#add-button", function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: '{% url "basket_add" %}',
      data: {
        product_id: $("#add-button").val(),
        product_qty: 1,
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: "POST",
      },
      success: function (json) {
        console.log(json);
        if (parseInt(document.getElementById("basket-qty").innerHTML) > 0) {
          value = parseInt(document.getElementById("basket-qty").innerHTML);
          value += json.qty;
          console.log("value: " + value);
          document.getElementById("basket-qty").innerHTML = value;
        } else {
          document.getElementById("basket-qty").innerHTML = json.qty;
          console.log("<0");
        }
      },
      error: function (xhr, errmsg, err) {},
    });
  });
</script>
{% endblock content %}
