{% extends 'store/main.html' %} {% load static %} {% block content%}
<div class="container-fluid d-flex justify-content-center">
  <div class="row">
    {% for product in products %}

    <div class="ml-1 px-2 py-2">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="{{ product.imageURL }}"
          alt="Card image cap"
          width="286px"
          height="180px"
        />
        <div class="card-body">
          <h5 class="card-title">
            <strong>{{product.brand_name}} {{product.product_name}}</strong>
            <hr />
            <strong>${{product.price|floatformat:2}}</strong>
          </h5>
          <p class="card-text">{{product.description}}</p>
          <button
            type="button"
            id="add-button"
            value="{{product.id}}"
            class="btn btn-secondary"
          >
            Add to cart
          </button>

          <a
            class="btn btn-outline-success"
            href="{% url 'product_detail' product.slug %}"
            >View</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  $(document).on("click", "#add-button", function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: '{% url "basket_add" %}',
      data: {
        product_id: $("#add-button").val(),
        product_qty: 1,
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: "POST",
      },
      success: function (json) {
        console.log(json);
        if (parseInt(document.getElementById("basket-qty").innerHTML) > 0) {
          value = parseInt(document.getElementById("basket-qty").innerHTML);
          value += json.qty;
          console.log("value: " + value);
          document.getElementById("basket-qty").innerHTML = value;
        } else {
          document.getElementById("basket-qty").innerHTML = json.qty;
          console.log("<0");
        }
      },
      error: function (xhr, errmsg, err) {},
    });
  });
</script>
{% endblock content %}
