{% extends 'store/main.html' %} {% load static %} {% block content %}

<!-- this is a comment -->
{% block title %}
<title>Store</title>
{% endblock title %}

<div class="container-fluid">
  <div class="col d-flex">
    <div class="col-lg-2 col-md-4 col-sm-3 d-none d-sm-block d-md-block">
      <h4>Filter</h4>
      <hr />
    </div>
    <div class="d-block d-sm-none">
      <h4>my hidden</h4>
    </div>
    <div class="col">
      <div class="row no-gutters container-fluid">
        <!-- by issus this code is mad ugly -->
        {% for product in products %}
        <!-- thsi is a comment -->
        {% for sub in product.subproduct_set.all %}
        <!-- thsi is a comment -->
        {% if sub.is_default %}
        <!-- thsi is a comment -->
        {% for images in sub.product_image.all %}
        <!-- thsi is a comment -->
        {% if images.is_feature %}

        <div class="col p-0">
          <div class="container-fluid p-0">
            <img
              src="{{images.image.url}}"
              class=""
              style="max-width: 20rem; min-height: 20rem; width: auto"
              alt="..."
            />

            {% endif %}
            <!-- this is a cometn -->
            {% endfor %} {% endif %}
            <!-- this is a cometn -->
            {% endfor %}
            <div class="card-img-overlay">
              <a
                href="{% url 'product_detail' product.slug %}"
                class="img-link-overlay"
              ></a>
            </div>
            <div class="card-body p-0">
              <h5 class="card-title font-weight-light">
                {{product.title}}
                <br />
                &#x20b1;{{product.regular_price|floatformat:2}}
              </h5>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
    <div class="col-lg-2 ml-auto p-2"></div>
  </div>
</div>

<script>
  $(document).on("click", "#add-button", function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: '{% url "basket_add" %}',
      data: {
        product_id: $("#add-button").val(),
        product_qty: 1,
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: "POST",
      },
      success: function (json) {
        console.log(json);
        if (parseInt(document.getElementById("basket-qty").innerHTML) > 0) {
          value = parseInt(document.getElementById("basket-qty").innerHTML);
          value += json.qty;
          console.log("value: " + value);
          document.getElementById("basket-qty").innerHTML = value;
        } else {
          document.getElementById("basket-qty").innerHTML = json.qty;
          console.log("<0");
        }
      },
      error: function (xhr, errmsg, err) {},
    });
  });
</script>
{% endblock content %}
